*{
    font-family: comic sans MS;
}
.container{
    width: 75vw;
    border: solid 2px black;
    padding: 10px 10px 10px 10px;
    margin: 20px auto;
    display: grid;
    justify-content: center;
}
h1{
    text-align: center;
    font-size: 2rem;
}
input,button{
    font-size: 1.2rem;
}